/* Header.css */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10; /* Más bajo que el form-backdrop para que el formulario aparezca sobre el header */
    background: rgba(0, 0, 0, 0.7); /* Le ponemos un fondo para que resalte sobre la imagen */
}

.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation a {
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    margin-left: 30px;
    position: relative;
}

.navigation a:not(:last-child)::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width 0.3s;
}

.navigation a:not(:last-child):hover::after {
    width: 100%;
}

.btnLogin-popup {
    padding: 8px 16px;
    margin-left: 20px;
    background: none;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btnLogin-popup:hover {
    background: #fff;
    color: #162938;
}
